@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.senha-geradas {
  font-size: 1.4em;
  padding: 25px 0;
}

form input:not([type="checkbox"]), form label {
  width: 80px;
}

form input {
  padding: 5px;
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background-color: var(--primary-color-darker);
}

#resp {
    display: none;
    background-color: rgb(24, 193, 245);
    margin-top: 20px;
    padding: 10px;
}

.ladoALado {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 150px;
}

.ladoALado ul {
    list-style-type: none;
    padding: 0;
}